@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

body{
    margin: 10% 10%;
    font-family: 'Outfit', sans-serif;
}

/* For contact heading */
#contact-heading{
    display: flex;
    justify-content: center;
}

/*Contact Box*/
#contact-box{
    display: flex;
    justify-content: center;
    /*border: 1px solid black;*/
    height: 100%;
}


.contact{
    height: 100%;
    /*border: 1px solid blue;*/
}

#contact-form{
    width: 60%;
}
.my-form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 20% 10%;
}
input{
    height: 44px;
}
#name-email-box{
    display: flex;
    gap: 20%;
   
}
#sub-comment{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#btn{
    background-color: #445069;
    color: white; border: none;
    border-radius: 2px;
}

#btn:hover{
    background-color: rgb(128, 128, 216);;
}

#contact-us{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10% 5%;
    width: 40%;
    /*background-color: rgb(128, 128, 216);*/
    background-color: #445069;
    color: white;
}

#contact-details{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.all-detail{
    display: flex;
    gap: 20px;
}

iframe {
    border: none;
    width: 100%; 
}


@media only screen and (max-width: 1000px) {
    #contact-box{
        display: flex;
        flex-direction: column;
        justify-content: center;
        /*border: 1px solid black;*/
        height: 100%;
    }
    #contact-form{
        width: 100%;
    }

    #contact-us{
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 10% 5%;
        width: 100%;
        /*background-color: rgb(128, 128, 216);*/
        background-color: #445069;
        color: white;
    }
  }


